
.vscode
.DS_Store

# Rust
target/

# Node
node_modules/
.next/

# Anchor
.anchor/

# Env
.env

# Terraform
**/.terraform/
*.tfplan
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

admin.json

.surfpool
